$spaceBlue:  rgb(0, 0, 87);
$spacePink: rgb(133, 10, 102);
$cometColorOne: rgba(255, 255, 255, 0.315);
$cometColorTwo: rgba(255, 255, 255, 0.767);
$cloudPink: rgba(248, 71, 165, 0.671);
$cloudPinkBefore: rgba(248, 71, 165, 0.356);
$cloudBlue: rgba(71, 183, 248, 0.637);
$cloudBlueBefore:  rgba(71, 183, 248, 0.322);