@media (min-width: 1000px) {
    //Header
    header{
        //Getting rid of the side navbar
        > nav {
            display: none;
        }
        //Adding a fun link
        > section {
            > a {
                display: inline;
                color: whitesmoke;
            }
        }
    }
    //Projects section
    .projects{
        padding: 3em;
        .container{
            padding: 1%;
            .section-title{
                @include title(-5deg, -15%);
            }
            .content{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                > figure{
                    width: 20vw;
                    height: 70vh;
                }
            }
        }
    }
    //Education section
    .education{
        padding: 5%;
        box-sizing: border-box;
        .container{
            .section-title{
                @include title(3.5deg,-15%);
            }
        }
    }
    //Certifications section
    .certifications{
        .container{
            .section-title{
                @include title(-3deg,-25%);
            }
        }
    } 
}