@media (min-width: 1000px) {
    // pages workflow
    .first,
    .second,
    .third{
        width: 200%;
        height: 100%;
        display: flex;
    }
    .first > *,
    .second > *,
    .third > *{
        width: 100vw;
        height: 100vh;
        position: relative;
    }
}